/* For centering */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-page {
  display: grid;
  align-self: stretch;
  padding: var(--spacing-0200) var(--spacing-0300);
}

.section-main-header {
  display: grid;
  row-gap: var(--spacing-0200);
}

.wrapper-switch-color-mode {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
  padding: var(--spacing-0100);

  img {
    height: 100%;
    aspect-ratio: 1;
  }

  div {
    display: flex;
    align-items: center;
    border-radius: 9em;

    div {
      height: 100%;
      aspect-ratio: 1;
    }
  }
}

main {
  display: grid;
  row-gap: var(--spacing-0500);
  padding: var(--spacing-0400) 0;

  div {
    display: grid;
    row-gap: var(--spacing-0200);
  }
}

.wrapper-display-category {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: var(--spacing-0200);
}

.container-display-category,
.wrapper-button-choice {
  display: grid;
  row-gap: var(--spacing-0200);
}

.wrapper-button-choice {
  display: grid;
}

.button-choice {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  column-gap: var(--spacing-0200);
  padding: var(--spacing-0200);
}

.choice-info {
  text-align: start;
}

.header-with-category {
  grid-template-columns: min-content auto;
}

.container-question {
  display: grid;
  row-gap: var(--spacing-0200);
}

.no-answer {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  justify-content: center;
  column-gap: var(--spacing-0100);
}

.no-answer[hidden] {
  display: none;
}

.container-display-score {
  padding: var(--spacing-0400);
  display: grid;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1023px) {
  main {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-1600);
  }

  .section-main-header,
  .container-question {
    display: flex;
    flex-direction: column;
  }

  .container-question {
    padding-bottom: var(--spacing-0800);
  }

  .post-text {
    margin-top: var(--spacing-0600);
  }

  h2 {
    flex: 1;
  }
}
