@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

/* Reset */

* {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Variables */

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey-500: rgb(98, 108, 127);
  --grey-50: rgb(244, 246, 250);
  --blue-950: rgb(45, 57, 73);
  --blue-900: rgb(49, 62, 81);
  --blue-850: rgb(59, 77, 102);
  --blue-500: rgb(48, 106, 255);
  --blue-300: rgb(171, 193, 255);
  --blue-100: rgb(237, 241, 249);
  --blue-050: rgb(235, 240, 255);
  --green-500: rgb(47, 216, 135);
  --green-100: rgb(224, 253, 239);
  --purple-600: rgb(167, 41, 245);
  --purple-100: rgb(246, 231, 255);
  --orange-500: rgb(255, 126, 53);
  --orange-050: rgb(255, 245, 237);
  --red-500: rgb(238, 84, 84);

  --font-1-medium: 500 9rem/1 "Rubik";
  --font-2-medium: 500 4rem/1 "Rubik";
  --font-2-light: 300 4rem/1 "Rubik";
  --font-3-medium: 500 2.25rem/1.2 "Rubik";
  --font-4-medium: 500 1.75rem/1 "Rubik";
  --font-5-medium: 500 1.5rem/1.5 "Rubik";
  --font-5-regular: 500 1.5rem/1.5 "Rubik";
  --font-6-italic: italic 300 1.25rem/1.5 "Rubik";
  --font-1-medium-mobile: 500 5.5rem/1 "Rubik";
  --font-2-medium-mobile: 500 2.5rem/1 "Rubik";
  --font-2-light-mobile: 300 2.5rem/1 "Rubik";
  --font-3-medium-mobile: 500 1.25rem/1.2 "Rubik";
  --font-4-medium-mobile: 500 1.125rem/1 "Rubik";
  --font-5-italic-mobile: italic 300 0.875rem/1.5 "Rubik";

  --spacing-0100: 0.5rem;
  --spacing-0200: 1rem;
  --spacing-0300: 1.5rem;
  --spacing-0400: 2rem;
  --spacing-0500: 2.5rem;
  --spacing-0600: 3rem;
  --spacing-0800: 4rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
  --spacing-2300: 11.5rem;

  /* light mode */
  --background-color-body-light: var(--grey-50);
  --background-color-button-choice-light: var(--white);
  --color-bg-bar-progress-light: var(--white);

  --justify-content-switch-theme-light: start;
  --switch-color-img-light: brightness(0);

  --font-color-1-light: var(--blue-900);
  --font-color-2-light: var(--grey-500);

  /* dark mode */
  --background-color-body-dark: var(--blue-900);
  --background-color-button-choice-dark: var(--blue-850);
  --color-bg-bar-progress-dark: var(--blue-850);

  --justify-content-switch-theme-dark: end;
  --switch-color-img-dark: brightness(100);

  --font-color-1-dark: var(--white);
  --font-color-2-dark: var(--blue-300);
}

/* For Theme Styling */

body {
  --background-color-body: var(--background-color-body-light);
  --background-color-button-choice: var(--background-color-button-choice-light);
  --justify-content-switch-theme: var(--justify-content-switch-theme-light);

  --switch-color-img: var(--switch-color-img-light);
  --font-color-1: var(--font-color-1-light);
  --font-color-2: var(--font-color-2-light);
  --color-bg-bar-progress: var(--color-bg-bar-progress-light);

  background-color: var(--background-color-body);
}

body.dark {
  --background-color-body: var(--background-color-body-dark);
  --background-color-button-choice: var(--background-color-button-choice-dark);
  --justify-content-switch-theme: var(--justify-content-switch-theme-dark);

  --switch-color-img: var(--switch-color-img-dark);
  --font-color-1: var(--font-color-1-dark);
  --font-color-2: var(--font-color-2-dark);
  --color-bg-bar-progress: var(--color-bg-bar-progress-dark);
}

.button-choice,
.container-display-score {
  background-color: var(--background-color-button-choice);
  border-radius: 12px;
}

.font-color-1,
.button-choice {
  color: var(--font-color-1);
}

.font-color-2 {
  color: var(--font-color-2);
}

.letter-button-choice {
  background-color: var(--grey-50);
  color: var(--grey-500);
}

.wrapper-switch-color-mode {
  div {
    justify-content: var(--justify-content-switch-theme);
  }
}

/* Progress Bar */

.bar-progress {
  --progress: 0%;

  height: 16px;
  width: 100%;
  background-color: var(--color-bg-bar-progress);
  border-radius: 9em;
  padding: calc(var(--spacing-0100) / 2);

  div {
    height: 100%;
    width: var(--progress);
    border-radius: 9em;
    background-color: var(--purple-600);
  }
}

/* For Styling */

.wrapper-switch-color-mode {
  img {
    filter: switch-color-img;
    height: 100%;
  }

  div {
    background-color: var(--purple-600);
    border: 0.1rem var(--purple-600) solid;

    div {
      background-color: white;
    }
  }
}

.button-choice {
  cursor: pointer;
  border: none;
}

.button-choice,
.wrapper-display-category {
  img,
  .letter-button-choice {
    height: var(--spacing-0500);
    width: var(--spacing-0500);
    border-radius: 6px;
    background-color: var(--img-bg-color);
    padding: var(--spacing-0100);
  }
}

.button-choice {
  --img-bg-color: var(--grey-50);
}

.button-choice.html,
.wrapper-display-category.html {
  --img-bg-color: var(--orange-050);
}

.button-choice.css,
.wrapper-display-category.css {
  --img-bg-color: var(--green-100);
}

.button-choice.javascript,
.wrapper-display-category.javascript {
  --img-bg-color: var(--blue-050);
}

.button-choice.accessibility,
.wrapper-display-category.accessibility {
  --img-bg-color: var(--purple-100);
}

.button-choice[data-selected="true"] {
  border: 3px solid var(--purple-600);
}

.button-choice.correct {
  border: 3px solid var(--green-500);

  .letter-button-choice {
    background-color: var(--green-500);
    color: var(--white);
  }
}

.button-choice.wrong {
  border: 3px solid var(--red-500);

  .letter-button-choice {
    background-color: var(--red-500);
    color: var(--white);
  }
}

.button-submit {
  background-color: var(--purple-600);
  color: var(--white);
  width: 100%;
  padding: var(--spacing-0200);
  border-radius: 15px;
  border: none;
}

.button-submit.inactive {
  background-color: color-mix(in srgb, var(--purple-600) 50%, white);
}

.no-answer {
  color: var(--red-500);
}

/* Font */

.score {
  font: var(--font-1-medium-mobile);
}

.pre-text {
  font: var(--font-2-light-mobile);
}

h2 {
  font: var(--font-3-medium-mobile);
}

.section-main-header h1,
.page-score-h2 {
  font: var(--font-2-medium-mobile);
}

.post-text,
.question-number {
  font: var(--font-5-italic-mobile);
}

.score-total {
  font: var(--font-4-medium-mobile);
  font-weight: 300;
}

.header-page h1,
.button-choice,
.button-submit,
.no-answer,
.category-name {
  font: var(--font-4-medium-mobile);
}

@media (min-width: 51.56rem) {
  .pre-text,
  .category-name {
    font: var(--font-2-light);
  }

  .section-main-header h1 {
    font: var(--font-2-medium);
  }

  h2 {
    font: var(--font-3-medium);
  }

  .post-text,
  .question-number {
    font: var(--font-6-italic);
  }

  .button-choice,
  .header-page h1,
  .button-submit {
    font: var(--font-4-medium);
  }

  .no- {
    font: var(--font-5-regular);
  }
}
