body {
  padding: 50px;
}

.wrapper-switch-color-mode {
  div {
    background-color: blueviolet;
    border: 0.1rem blueviolet solid;

    div {
      background-color: white;
    }
  }
}

.wrapper-display-category {
  cursor: pointer;
}
"&lt!-- this is a comment --&gt" .button-choice[data-selected="true"] {
  .letter-button-choice {
    background-color: red;
  }
}
